
ul li {                       
  list-style: none;          
  color: white;           
  background-color: #6e6d6d;
  float: left;    
  line-height: 30px;
  text-align: center;
}
a {
  text-decoration:none;
  color: white;
  display: block;
  width: 300px;
  font-size: 12px;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: #111;
}

.menu {
  display: flex;
  justify-content: center;
}